<h1>Homepage</h1>
<form method="GET" action="/animals">
  <label>Length of animal array</label>
  <input type="textfield" name="animals_length"/>

  <input type="submit" value="Show me the animals!"/>
</form>
