<!DOCTYPE html>
<html>
<head>
    <title>Our Basic Sinatra App</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
    </nav>

    <h1>Hello World</h1>

    <% animals = ["Dog", "Rabbit", "Shark", "Eagle", "Horse", "Worm"] %>
    <h2>List of my favourite animals</h2>
    <ul>
      <% animals.each do |animal| %>
        <li><%= "#{animal}s are cool"%></li>
      <% end %>
    </ul>

</body>
</html>
