<!DOCTYPE html>
<html>
  <head>
      <title>Our Basic Sinatra App</title>
      <link rel="stylesheet" href="/style/main.css">
  </head>
  <body>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/animals">Animals</a></li>
        </ul>
      </nav>

      <%= yield %>

  </body>
</html>
