<div id="main"></div>

<script id="secretsTemplate" type="text/template">
  <p>
    <input type="text"/>
  </p>
  <p>
    <button>Tell a Secret</button>
  </p>

  <div id="secretsList"></div>
</script>

<script id="secretsListTemplate" type="text/template">
  <ul>
    {{ _.each(models, function(secret){ }}
      <li>{{= secret.get("content") }}</li>
    {{ }) }}
  </ul>
</script>
